/*Fonts*/
@font-face {
	font-family: Sequi_bold;
	font-weight: bold;
	src: url("../fonts/Sequi_bold.otf") format("opentype");
}
@font-face {
	font-family: Sequi_regular;
	font-weight: regular;
	src: url("../fonts/Sequi_regular.otf") format("opentype");
}
@font-face {
	font-family: Sequi_light;
	font-weight: light;
	src: url("../fonts/Sequi_light.otf") format("opentype");
}
body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 200;
}

html {
	margin:0;
	padding:0;
}

html, body {
	height: 100%;
	width: 100%;
}

/*Nav Items*/
.navbar-default {
	background-color: transparent;
}

.navbar {
	margin-bottom: 0;
	z-index: 3;
	border-bottom: 1px white solid;
	font-size: 14px !important;
	line-height: 2 !important;
	letter-spacing: 4px;
	border-radius: 0;
	height: 60px;
	padding-top: 5px;
}

.navbar-brand {
	font-size: 20px;
	font-weight: bold;
	position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
   	color: white !important;
   	padding-top: 20px;
}

.navbar .navbar-nav li a {
	color: white;
	outline: none
}

.navbar-toggle {
	z-index:2;
}

.navbar-nav li a:hover {
	color: #E972B6 !important;
}

.icon-bar{
	background-color: white !important;
}

.input-group {
	border: 1px white solid;
	border-radius: 15px;
	color: white;
}

#srch-term {
	background-color: transparent;
	color: white;
	border:0;
}

.glyphicon-search {
	color: white;
	outline: none;
}

#search-button {
	border: 0;
	background-color: transparent;
	outline: none;
}

#github {
	margin-right: 20px;
}

@media (max-width: 768px) {
	#navbar  {
		background-color: white;
	}
	#navbar li a {
		color: #E972B6;
	}
	#navbar .input-group {
		border: 1px #E972B6 solid;
		border-radius: 15px;
		color: #E972B6;
	}
	#srch-term {
		background-color: transparent;
		color: #E972B6;
		border:0;
	}
	.navbar-form {
		border: 0;
	}
}

/*Hero Section*/
.hero {
	background-image: url('../images/fourteeners.jpg');
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
  	backface-visibility: hidden;
	height: 100vh;
	overflow: hidden;
	position: relative;
	width: 100%;
}

#hero-healine-block {
	display: block;
	position: absolute;
	height: 100%;
}

#hero-headline {
	text-align: center;
	margin-top: 175px;
	color: white;
    font-size: 80px;
    font-family: Sequi_regular;
}

/*Index Content Sections*/
.main-content {
	height: auto;
	padding:0;
	position: relative;
	width: 100%;
}

#mountain-list-header {
	font-family: Sequi_light;
	text-align: center;
	color: #5D6683;
	margin: 40px 0 0 0;
	font-size: 50px;
}

.mountain-box {
	display: block;
	height: 200px;
	border: 1px #E972B6 solid;
	margin: 20px 0px;
	padding: 0;

}

#list-image {
    background-size: cover;
    background-position: center center;
    height: 100%;
}

#label {
	font-size: 14px;
	color: #E972B6;
	margin:0;
}

#mountain-data {
	margin:0 0 15px 0;
    font-size: 1.8vw;
	color: #5D6683;
}

#rank {
	height: 100%;
	padding-top: 30px;
	text-align: center;
}

#rank div {
	height: 100px;
	width: 100px;
	border-radius: 100px;
	background-color: #5D6683;
	color: white;
	display: inline-block;
	line-height: 100px;
	margin: 10px 0 0 0;
	font-size: 45px
}

#range {
	text-align: left;
	padding-top: 30px;
}

#challenge-block {
    position: relative;
    height: 100%;
    background-position: center center;
    background-size: cover;
    text-align: center;
    background-image: url('../images/mountain-graphic.png');
}

#challenge-score-label {
	font-size: 20px;
	color: #E972B6;
	margin-top: 20px;
}

#challenge-score-value {
	font-size: 35px;
	color: white;
	margin-top: 75px;
}

#elevation-view {
	text-align: center;
	padding-top: 30px;
	border-left: 1px #E972B6 solid;
	height: 100%;
}

#elevation-data {
    font-size: 2.2vw;
	color: #5D6683;
}

#view-button {
	background-color: #E972B6;
	border:0;
	color: white;
	width: 100px;
	margin-top: 10px;
}

#view-button:hover {
	background-color: #5D6683;
	color: white;
}

@media (max-width: 991px) {
	.mountain-box {
		display: block;
		height: 100%;
		border: 1px #E972B6 solid;
		margin: 30px 0px;
		padding: 0;
	}

	#list-image {
	    background-size: cover;
	    display: block;
	    width: 100%;
	    height: 200px;
	}

	#mountain-data {
		margin:0 0 15px 0;
	    font-size: 4vw;
		color: #5D6683;
	}

	#range {
		text-align: center;
		padding-top: 30px;
		border-left: 1px #E972B6 solid;
	}

	#rank {
		height: 100%;
		padding-top: 30px;
		text-align: center;
		display: inline-block;
	}

	#rank div {
		height: 75px;
		width: 75px;
		border-radius: 75px;
		background-color: #5D6683;
		color: white;
		display: inline-block;
		line-height: 75px;
		margin: 10px 0 0 0;
	    font-size: 5vw;
	}

	#challenge-block {
	    position: relative;
	    height: 100%;
	    background-position: none;
	    background-size: none;
	    text-align: center;
	    background-image: none;
		padding: 0 0 10px 0;
	}

	#challenge-score-label {
		font-size: 15px;
		color: #E972B6;
		margin-top: 30px;
	}

	#challenge-score-value {
	    font-size: 5vw;
		color: #5D6683;
		margin-top: 10px;
	}

	#elevation-view {
		text-align: center;
		padding-top: 0;
		margin: 0;
	}

	#elevation-data {
	    font-size: 4vw;
		color: #5D6683;
	}
	
	#view-button {
		background-color: #E972B6;
		border:0;
		color: white;
		width: 100px;
		margin: 0 0 20px 0;
	}
}

/*Mountian Page Styles*/

.mountain-hero {
	background-image: url('https://upload.wikimedia.org/wikipedia/commons/4/49/Mount_Massive_from_road_by_Twin_Lakes.jpg');
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
  	backface-visibility: hidden;
	height: 65vh;
	overflow: hidden;
	position: relative;
	width: 100%;
}

#mountain-main-content{
	border-top: 2px solid #E972B6;
}

#mountain-healine-block {
	text-align: center;
	display: block;
	position: absolute;
	height: 100%;
    left: 0;
	background: rgba(93, 102, 131, .5);
}

#mountain-headline {
	margin-top: 110px;
	color: white;
    font-size: 55px;
    font-family: Sequi_bold;
}

#break-line {
	border: 1px solid #E972B6;
	margin: 0 0 50px 0;
}

#left-side {
	text-align: left;
}

#right-side {
	text-align: right;
}

#mountain-data-large {
	margin:0 0 15px 0;
    font-size: 2.5vw;
	color: #5D6683;
}

#ratings-challenges {
	padding: 0;
}

#rating-box {
	margin: 0 0 25px 0;
	height: 60px;
	background-color: #5D6683;
	text-align: center;
}

#challenge-box {
	margin: 0 0 25px 0;
	height: 60px;
	background-color: #E972B6;
	text-align: center;
}

#rating-label {
	color: white;
    font-family: helvetica;
	font-weight: 200;
	font-size: 30px;
	line-height: 60px;
}

#rating-value {
	color: white;
    font-family: helvetica;
	font-weight: 600;
	font-size: 30px;
	line-height: 60px;
}

#description-block {
	margin-top: 25px;
	margin-bottom: 25px;
}

#description-data {
	font-size: 1.5vw;
	color: #5D6683;
	text-align: justify;
    text-justify: inter-word;
}

#mountain-buttons {
	text-align: left;
	position: absolute;
    bottom: 0;
	margin-top: 75px;
	z-index: 1;
	margin-bottom: 25px
}

#edit{
	border: 1px solid white;
	border-radius: 15px;
	color: white;
	background-color: transparent;
	width: 130px;

}

#edit:hover{
	background-color: #E972B6;

}

#delete{
	border: 1px solid white;
	border-radius: 15px;
	color: white;
	background-color: transparent;
	width: 130px;
}

#delete:hover{
	background-color: #B70000;
}

@media (max-width: 991px) {
	#mountain-data-large {
		margin:0 0 15px 0;
	    font-size: 5vw;
		color: #5D6683;
	}

	#description-data {
		font-size: 4vw;
		color: #5D6683;
		text-align: justify;
	    text-justify: inter-word;
	}

	#mountain-main-content{
		border-top: 2px solid #E972B6;
		padding: 0 15px;
	}

	#mountain-buttons {
		text-align: center;
	}
}


/*Buttons No Outline*/
.btn, .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: 0;
}